
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fullscreen-container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #18191a;
}

.container-padre_jacobi {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  width: 90%;
  height: 90%;
  padding: 50px;
  background-color: #242526; 
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}


.container_jacobi {
  background-color: #3a3b3c; 
  border: 2px solid yellow; 
  border-radius: 8px;
  padding: 30px;
  width: 48%; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: #e4e6eb;
}

.tilteIndo{
  color: white;
}

.title-newthon {
  /* font-size: 2rem; */
  color: yellow; 
  margin-bottom: 20px;
  text-align: center;
}

.resultado_personal_jacobi{
  color: #e4e6eb;
  font-size: 20px;
}

label {
  display: block;
  margin: 10px 0 5px;
  color: #e4e6eb;
}

input[type="text"], input[type="number"] {
  width: 80px; 
  height: 40px;
  text-align: center;
  font-size: 1rem;
  background-color: #242526;
  color: #e4e6eb;
  border: 1px solid #3b5998; 
  border-radius: 4px;
  margin-right: 10px;
}

input:focus {
  outline: none;
  border-color: #007BFF;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #3b5998; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3; 
}

/* Estilo para los resultados y errores */
.container2_jacobi {
  background-color: #3a3b3c; 
  border: 2px solid #3b5998; 
  border-radius: 8px;
  padding: 20px;
  width: 48%; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: #e4e6eb;
}


.mensaje-error {
  color: rgb(235, 94, 94);
  font-weight: bold;
}

/* Estilo para la matriz */
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 8px;
}

.igualesMatriz {
  font-size: 1.2rem;
  color: #e4e6eb;
  text-align: center;
  margin-top: 10px;
}

.label-initialGuess{
  margin-right: 8px;
}
